body {
  margin: 0;
  padding-right: 250px;
  padding-Left: 250px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  display: flex;
  justify-content: space-evenly;
  color: white;
  height: 50px;
  border-radius: 5px;
  font-size: large;
  width: 150px;
  padding: 12px;
  align-items: center;
  background-color: #6657f5;
}
